# compiled binaries
superblock
group_desc
inode_scan
dir_scan
carve_blocks

# recovered output (regenerate via carve_blocks, don't commit binary carved data)
src/recovered/
src/all_unallocated.bin

# misc
*.o
tests/test.img
tests/test2.img
tests/test3.img
src/all_unallocated.bin

